* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: navy;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.col1 {
    border-right: 4px solid black;
    width: 15%;
}

.col2 {
    width: 65%;
}

.nav {
    background-color: unset;
    overflow: auto;
    justify-content: end;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four links of equal widths */
    text-align: center;
    flex: auto;
  }


.btn {
    color: white;
    background-color: unset;
    height: 60px;
    width: 90px;
    padding: 2px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 200%;
}


.section {
    flex: 3;
    /* width: 80%; */
    height: 30vh;
    background-color: white;
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 10px 5px;
    float: right;
}





